/* Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* Colors */
:root {
	/* Primary */
	--moderate-blue: hsl(238, 40%, 52%);
	--soft-red: hsl(358, 79%, 66%);
	--light-grayish: hsl(239, 57%, 85%);
	--pale-red: hsl(357, 100%, 86%);
	/* Neutral */
	--dark-blue: hsl(212, 24%, 26%);
	--grayish-blue: hsl(211, 10%, 45%);
	--light-gray: hsl(223, 19%, 93%);
	--very-light-gray: hsl(228, 33%, 97%);
	--white: hsl(0, 0%, 100%);
}
/* reset */
*,
*::after,
*::before {
	font-family: "Rubik";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: red 1px solid; */
}
/* body */
body {
	background-color: var(--very-light-gray);
	font-size: 16px;
}

/* styles */
#root {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding-top: 1px;
	.comment-section {
		max-width: 700px;
		margin-block: 64px;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		gap: 24px;
		/* form */
		form {
			background-color: var(--white);
			padding: 24px;
			border-radius: 8px;
			display: flex;
			align-items: stretch;
			gap: 16px;
			width: 100%;
			textarea {
				width: 100%;
				border-radius: 8px;
				background-color: transparent;
				padding: 8px;
				resize: none;
				font-size: medium;
				&:focus {
					outline: var(--dark-blue) 1px solid;
				}
			}
			.button-group {
				display: flex;
				flex-direction: column;
				gap: 16px;
			}
		}
		/* comments */
		.comments {
			display: flex;
			flex-direction: column;
			gap: 24px;
			.comment-container {
				display: flex;
				flex-direction: column;
				gap: 24px;
				.comment {
					background-color: var(--white);
					padding: 24px;
					border-radius: 8px;
					display: flex;
					gap: 24px;
					/* .comment-score {} */
					.comment-main {
						flex: 1;
						.comment-head {
							display: flex;
							align-items: center;
							gap: 16px;
							margin-bottom: 16px;
							.username {
								font-weight: 700;
								color: var(--dark-blue);
								.you {
									font-size: small;
									border-radius: 1px;
									margin-left: 8px;
									color: var(--white);
									padding: 1px 2px;
									background-color: var(--moderate-blue);
								}
							}
							.createdAt {
								margin-right: auto;
								color: var(--grayish-blue);
							}
						}
						.content {
							margin-right: 16px;
						}
						.content-field {
							width: 100%;
							border-radius: 8px;
							font-size: 16px;
							line-height: 24px;
							background-color: transparent;
							padding: 8px;
							resize: none;
							font-size: medium;
							&:focus {
								outline: var(--light-gray) 1px solid;
							}
						}
					}
				}
				.replies-container {
					display: flex;
					.line {
						border-radius: 50px;
						width: 4px;
						background-color: var(--light-gray);
						margin-right: 16px;
						margin-left: 4px;
					}
					.replies {
						flex: 1;
						display: flex;
						flex-direction: column;
						gap: 24px;
					}
				}
			}
		}
	}
}
/* Primary button */
.button-primary {
	padding: 12px 24px;
	border-radius: 8px;
	border: none;
	background-color: var(--moderate-blue);
	color: var(--white);
	font-weight: 700;
	font-size: large;
	text-transform: uppercase;
	cursor: pointer;
	&:disabled {
		visibility: hidden;
		cursor: not-allowed;
	}
}
/* secondary button */
.button-secondary {
	display: flex;
	align-items: center;
	background-color: transparent;
	outline: none;
	border: none;
	font-weight: 700;
	font-size: medium;
	color: var(--moderate-blue);
	cursor: pointer;
	text-transform: capitalize;
	img {
		margin-right: 8px;
	}
	&.delete {
		color: var(--soft-red);
	}
}
